.box {
  border: 1px solid white;
  margin: auto;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px grey;
  padding: 30px;
  max-width: 456px;
  margin-top: 100px;
}

.box__welcome {
  margin: 2px 2px 2px 2px;
}

.box__form {
  margin-left: 5px;
  margin-right: 5px;
}

// .loginbutton :hover{
//   background-color: #c9d0d7;
//   cursor: pointer;

// }

// .createaccbtn {
//   button {
//     margin-top: 5px;
//     background-color:  #EEEEF4;
//     border: none;
//     border-radius: 10px;
//     padding: 10px 16px 10px 16px ;
//     width: 450px;
//     height: 38px;
//     font-weight: 500;
//     color:#171717;
//     font-size: 14px;
//     line-height: 18px;
//   }
// }

// .createaccbtn :hover{
//   background-color: #cfcfe0;
//   cursor: pointer;
// }
.nextline {
  justify-content: flex-start;
  display: flex;
  margin-top: 16px;
  color: #797E82;

}

.email {
  justify-content: flex-start;
  text-align: left;
}
.password {
  justify-content: flex-start;
  margin-top: 5px;
  text-align: left;
}
.checkbox {
  justify-content: flex-start;
  display: flex;
  // justify-content: space-between;
  margin-top: 5px;
}
.link{
  justify-content: flex-end;
  display: flex;
  text-decoration: none;
}
input[type="email"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
