.reset-box{
    border: 1px solid white;
    margin: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px grey;
    padding: 30px;
    max-width: 456px;
    margin-top: 100px;
}
.resetpassbtn{
    button{
        border: none;
        background-color:#D8DDE2;
        padding: 10px 16px 10px 16px;
        height: 38px;
        width: 456px;
        border-radius: 10px;
    }
}
.label-for-password{
    color: #171717;
}
.resetpassbtn :hover{
    cursor: pointer;
    background-color: #C2C6CB;
}