.success-box{
    border: 1px solid white;
  margin: auto;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px grey;
  padding: 30px;
  max-width: 456px;
  margin-top: 100px;
}
.bold{
    color: black;
}
.success-icon , .success{
    justify-content: center;
    display: flex;
}