.primary_button {
  margin-top: 10px;
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 10px 16px 10px 16px;
  background-color: #d8dde2;
  display: block;
  color: black;
  text-align: center;
}
.primary_button :hover{
    color: black;
    cursor: pointer;
}
.secondary_button{
  border: none;
        background-color: #5F00D9;
        color: white;
        padding: 10px 16px 10px 16px;
        height: 38px;
        width: 456px;
        border-radius: 10px;
}